body {
    margin: 0;
    padding: 0;
    background-color: rgb(189, 255, 189);
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    min-height: 100vh;
}
.product-set {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.product {
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    border: #46984b 1px solid;
    border-radius: 7px;
}

.product-header {
    background-color: #27ae60;
    color: black;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.product-header h3 {
    padding: 5px;
}
.product-body {
    flex: 1;
}

img {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}


#prophone:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 0 26px rgba(0, 255, 98);
}
#mobile:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 0 26px rgba(0, 255, 98);
}
#noobmobile:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 0 26px rgba(0, 255, 98);
}
#trymobile:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 0 26px rgba(0, 255, 98);
}
.product-footer {
    background-color: #27ae60;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-footer h4 {
    color: black;
    font-size: 14px;
}
.product-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
}

.buy-button {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 10px 22px;
    border: 2px solid #46984b;
    background-color: #27ae60;
    color: #b9fcb7;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
}
@keyframes reboteSubida {
    0% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-5px); /* Sube al punto máximo */
        transform: rotate(-3deg);
    }
    70% {
        transform: translateY(-10px);  
        transform: rotate(3deg);
    }
    100% {
        transform: translateY(1px);  /* Baja y se queda en la posición final */
    }
}

.buy-button:hover {

    border-radius: 8px;
    animation: reboteSubida 0.3s ease-in-out forwards;
    transition: 0.4s ease-in-out;
    box-shadow: 0 0 10px rgb(0, 174, 255);
}

.product:hover .buy-button {
    visibility: visible;
    opacity: 1;
    display: inline-block;
}
  @media (max-width: 576px) {
    .product-set {
        flex-wrap: wrap;
    }

    .product {
        flex: 0 0 calc(50% - 10px);
        margin-bottom: 20px;
    }
  }
.header {
    grid-area: header;
}
.content {
    grid-area: content;
}
footer {
    grid-area: footer;
}

@media (max-width: 576px) {
    body {
        display: block;
        grid-template-areas: none;
        grid-template-columns: none;
        grid-template-rows: none;
    }

    .header {
        display: none;
    }
    .product {
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex:auto;
    min-width: 0;
    border: #46984b 1px solid;
    border-radius: 7px;
    }
    .menu-container {
        grid-area: header;
    }

    .content {
        grid-area: content;
    }

    footer {
        grid-area: footer;
    }
}